#single .ct-series-a .ct-bar {
    stroke: red;
}

#double .ct-series-a .ct-bar {
    stroke: blue;
}

#triple .ct-series-a .ct-bar {
    stroke: purple;
}

.container {
    width: 100vw;
    margin: 0 auto;
}

#navigation {
    position: fixed;
    width: 80vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-left: 55px;
    padding-top: 10px;
z-index: 100;
}

#navigation a {
z-index: 100;
}

section {
    margin-top: 50px;
    padding: 50px;
    z-index: 90;
}

.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: red;
  /* The width of your bars */
  stroke-width: 6px;
  /* Yes! Dashed bars! */
  stroke-dasharray: 0px;
}

.ct-label {
    font-size: 1.2rem;
    line-height: 1;
    color: #333333;
}